<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Curso AngularJS - Ramon Fernandes </title>
    <script src="https://code.jquery.com/jquery-2.2.4.js" 
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    <script src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
    <script src="node_modules\angular\angular.min.js"></script>
    <script src="node_modules\angular-route\angular-route.min.js"></script>

    <script src="curso-app.js"></script>
    <script src="curso-router.js"></script>
    <script src="curso-service.js"></script>
    <script src="cadastro/cadastro-controller.js"></script>
    <script src="home/home-controller.js"></script>
    <script src="componente/componente-alert.js"></script>

    <!--<link rel="shotcut icon" href="caminhoDoIcon"-->
    
</head>

<body>

    <script>
      angular.module('app').controller('MenuController', MenuController);
        MenuController.$inject = ['$location'];
            function MenuController($location){
                vm = this;
                vm.itensMenu = [
                    {titulo: 'Home', class: 'nav-link active'},
                    {titulo: 'Cadastro', class: 'nav-link'}
                ]
                vm.navegar = function(rota, array){
                    angular.forEach(array, function(item){
                        if(item.titulo == rota){
                            item.class = 'nav-link active'
                        }else{
                            item.class = 'nav-link'
                        }
                    });

                    $location.path(rota)
                }
        }
    </script>
<div class="container">
    <div ng-controller="MenuController as vm">
        <ul class="nav nav-tabs">
            <li class="nav-item" ng-repeat="item in vm.itensMenu">
            <a ng-class="item.class" ng-click="vm.navegar(item.titulo, vm.itensMenu)">{{item.titulo}}</a>
            </li>
           
        </ul>
    </div>

     
        <div ng-view></div>
</div>
</body>
</html>