<div class="container" ng-init="vm.init()">


<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">RG</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cliente in vm.clientes">
        <th scope="row">{{cliente.id}}</th>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.rg}}</td>
        <td><button type="button" class="btn btn-danger" ng-click="vm.excluir(cliente.id)">excluir</button></td>
        <td><button type="button" class="btn btn-warning">editar</button></td>
        
        

      </tr>
      
    </tbody>
  </table>
</div>