<div class="container" ng-init="vm.init()">
  <div class="alert alert-danger" role="alert" ng-if="vm.erro">
    A conexão com o banco de dados falhou!...
  </div>

<table class="table" ng-if="vm.clientes">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">RG</th>
        <th scope="col">Excluir</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cliente in vm.clientes | orderBy : 'nome'">
        <th scope="row">{{cliente.id}}</th>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.rg}}</td>
        <td><button type="button" class="btn btn-danger" ng-click="vm.excluir(cliente.id)">excluir</button></td>
        <td><button type="button" class="btn btn-warning" ng-click="vm.editar(cliente.id)">editar</button></td>
        
        

      </tr>
      
    </tbody>
  </table>
</div>